<link href="/assets/css/Player.css" rel="stylesheet">
<div class='player player{position}'>
  <h1>{name}</h1>
  <div class='buttonCnt {isUser}'>
    <div onClick='{onClick}' style="background-image: url(/assets/images/0.png)" val='1'>
      <p>[1]</p>
    </div>
    <div onClick='{onClick}' style="background-image: url(/assets/images/1.png)" val='2'>
      <p>[2]</p>
    </div>
    <div onClick='{onClick}' style="background-image: url(/assets/images/2.png)" val='3'>
      <p>[3]</p>
    </div>
  </div>
</div>
