<link href="/assets/css/Popup.css" rel="stylesheet">
<div id='popup' class='flexcnt'>
  <div class='centerBox'>
    <h1>{headline}</h1>
    <div class='details'>
      <div class='points'>{points}</div>
      <div class="result">{result}</div>
      <div class="lead">{details}</div>
    </div>
    <div class='buttonCnt'>
      <button onclick="{backClick}" id='popupBack' class='btn'>{backText}</button>
      <button onclick="{startClick}" id='popupStart' class='btn'>{startText}</button>
    </div>
    <p class='hint'>Press a key to select...</p>
  </div>
</div>
