<link href="/assets/css/Tutorial.css" rel="stylesheet">
<div id='tutorial'>
  <div class='details'>
    <p>You have 3 secound to select your "weapon".</p>
    <p>Click on the symboles, or just press the given keys on your keyboard.</p>
    <p>Rock [1] | Papper [2] | Scissors [3]</p>
  </div>
  <div class='rules'>
    <p>Rules:</p>
    <ul>
      <li>Rock beats Scissors</li>
      <li>Scissors beats Papper</li>
      <li>Papper beats Rock</li>
    </ul>
  </div>
  <button class='btn' id='tutorialBack' onclick='{onClick}'>OK</button>
</div>
