#open{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

.centerBox{
  text-align: left;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
}

#open .menuCnt {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#open li {
  list-style: none;
}

#open a {
  text-decoration: none;
  color: gray;
  font-size: 20px;
}

#open a:hover {
  color: black;
}
