#popup{
  text-align: left;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  text-align: center;

  position: absolute;
  margin: 40px -25%;
  bottom: 10px;
  width: 50%;
  left: 50%;
}

#popup.middle {
  top: 50%;
}

#popup .details {
  font-size: 20px;
  font-weight: 300;
}

#popup .points {
  font-size: 25px;
  font-weight: bold;
}

#popup .lead {
  font-size: 12px;
  color: #999;
}

#popup .buttonCnt{
  display: flex;
  align-items: baseline;
  justify-content: center;;
}
#popup .btn{
  border-radius: 5px;
  padding: 5px;
  margin: 20px;
}
